[user]
	name = Ryan Shee
	email = 7772995+LIONisaQT@users.noreply.github.com
	# signingkey = ABCDEF1234567890   # Uncomment if using GPG

[core]
	pager = delta
	ignorecase = false
	editor = code --wait
	excludesfile = ~/.gitignore
	autocrlf = input
	logallrefupdates = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	features = side-by-side line-numbers decorations
	plus-style = syntax
	minus-style = syntax

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
	algorithm = histogram

[color]
	ui = auto
	status = always
	branch = auto
	diff = auto

[pull]
	rebase = true

[fetch]
	prune = true

[push]
	default = simple

[alias]
	amend = commit --amend --no-edit
	br = branch
	ci = "!f() { git add . && git commit -m \"$@\"; }; f"
	cob = checkout -b
	co = checkout
	dd = diff
	delpre = "!f() { git branch -l | grep -- \"$1\"; }; f"
	delfinal = "!f() { git branch -l | grep -- \"$1\" | xargs -r git branch -D; }; f"
	ft = fetch
	go = "!f() { git add . && git commit -m \"$@\" && git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\"; }; f"
	last = log -1 HEAD
	lf = "!f() { git log -${1:-10} HEAD; }; f"
	lg = log --oneline --graph --all --decorate
	lgf = log --graph --full-history --all --color --decorate
	lx = "!f() { git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -${1:-10} HEAD; }; f"
	o = open
	ps = push
	psf = push -f
	rbi = "!f() { git rebase -i HEAD~${1:-1}; }; f"
	rpo = remote prune origin
	rst = reset --hard
	s = status
	staged = diff --cached
	undo = reset --soft HEAD~1
	unstage = reset HEAD --
